.container {
  display: grid;
  margin-top: 8rem;
  margin-bottom: 6rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  .image {
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      .image-content {
        width: 70%;
      }
    }
    @media screen and (max-width: 768px) {
      .image-content {
        width: 100%;
      }
    }
  }

  .about {
    color: var(--dark);
    padding-left: 1rem;
    padding-right: 1rem;

    .chip {
      color: orange;
      background-color: var(--chip);
      width: max-content;
      padding: 5px;
      text-align: center;
      font-size: large;
    }

    .about-me {
      margin-top: 0.25rem;
      font-size: 2rem;
      font-weight: 600;
    }

    .content {
      margin-top: 1rem;
      color: var(--dark);
      font-size: 1rem;
      line-height: 1.5;
    }

    .button {
      background-color: var(--chip);
      color: orange;
      width: 5rem;
      padding: 7px;
      text-align: center;
      font-size: large;
      font-weight: 400;
      margin-top: 2rem;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
