.navbar {
  padding: 1rem;
  display: flex;
  flex-direction: row;

  .logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--base-color);
    width: 30%;
  }

  .nav-contents {
    color: var(--dark);
    font-size: medium;
    font-weight: 600;
    width: 40%;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      .nav-item-1 {
        color: var(--base-color);
      }
    }
  }
  .button-container {
    width: 30%;
    .button {
      background-color: var(--chip);
      color: var(--dark);
      width: 5rem;
      float: right;
      padding: 7px;
      text-align: center;
      font-size: large;
      font-weight: 500;
    }
  }
  @media (max-width: 768px) {
    .nav-contents {
      justify-content: center;
      display: none;
    }
    .button-container {
      justify-content: center;
      display: none;
    }
  }
}
