@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

:root {
  // --background-color: #f6f1e9;
  --background-color: #ffffff;
  --base-color: #ffb742;
  --dark: #725d35;
  --secondary: #e3ddc7;
  --chip: #fff3ae89;
  --light: #f9f3e2;
  --accent: #ffcd6c;
  background: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}
